<!-- app/views/dashboard/index.html.erb -->

<h1>ダッシュボード</h1>

<% if @goals.any? %>
  <h2>目標一覧</h2>
  <ul>
    <% @goals.each do |goal| %>
      <li>
        <h3><%= goal.title %></h3>
        <p>ステータス: <%= goal.status %></p>
        <p>締め切り: <%= goal.deadline %></p>
        <p><%= link_to '目標詳細', goal_path(goal), class: 'btn btn-info' %></p>
        <%= link_to '削除', goal_path(goal), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>  <!-- 削除ボタン -->
      </li>
    <% end %>
  </ul>
<% else %>
  <p>目標はありません。</p>
<% end %>

<%= link_to '目標を追加する', new_goal_path, class: 'btn btn-primary' %>  <!-- 目標追加ボタン -->
