<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
      <em>(パスワードは<%= @minimum_password_length %>文字以上です)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: t('devise.views.password.minimum_length') %>

    <% if resource.errors[:password].any? %>
      <div class="error-message" style="color: red; margin-top: 5px;">
        <%= resource.errors[:password].first %>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "登録する" %>
  </div>
<% end %>
