<% content_for :title, "新しい日記を作成" %>

<h1>新しい日記を作成</h1>

<%= form_with model: [@goal, @diary], local: true do |form| %>
  <% if @diary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@diary.errors.count, "error") %> prohibited this diary from being saved:</h2>
      <ul>
        <% @diary.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :content, "日記の内容" %>
  <%= form.text_area :content, rows: 4, cols: 50 %>

  <%= form.label :intensity, "強度" %>
  <%= form.number_field :intensity %>

  <% if @goal.emotions.present? %>  <!-- 感情データが存在する場合 -->
    <%= form.label :emotion, "感情" %>
    <%= form.collection_select :emotion_id, @goal.emotions, :id, :name, include_blank: "感情を選んでください" %>
  <% else %>  <!-- 感情データがない場合 -->
    <p>感情データがありません。</p>
  <% end %>

  <%= form.submit "保存" %>
<% end %>
