<h1>新しい日記を作成</h1>

<%= form_with model: [@goal, @diary], local: true do |form| %>
  <div>
    <%= form.label :content, "日記の内容" %>
    <%= form.text_area :content, required: true %>
  </div>

  <div>
    <%= form.label :emotion, "感情" %>
    <%= form.select :emotion, ["嬉しい", "悲しい", "普通"], required: true %>
  </div>

  <div>
    <%= form.label :intensity, "強度" %>
    <%= form.number_field :intensity, in: 1..10, step: 1, required: true %>
  </div>

  <%= form.submit "日記を保存する", class: "btn btn-primary" %>
<% end %>

<%= link_to "戻る", goal_path(@goal), class: "btn btn-secondary" %>
