<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me %>
  </div>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<!-- Sign upとForgot your password?を削除 -->
<!-- <%= link_to "Sign up", new_user_registration_path %> -->
<!-- <%= link_to "Forgot your password?", new_user_password_path %> -->
