<h1>目標一覧</h1>

<%= link_to '新しい目標を作成', new_goal_path, class: 'btn btn-primary' %>

<table>
  <thead>
    <tr>
      <th>目標</th>
      <th>締め切り</th>
      <th>状態</th>
      <th>詳細</th>
      <th>削除</th>
    </tr>
  </thead>
  <tbody>
    <% @goals.each do |goal| %>
      <tr>
        <td><%= goal.title %></td>
        <td><%= goal.deadline %></td>
        <td><%= goal.status %></td>
        <td><%= link_to '詳細', goal_path(goal) %></td>
        <td><%= link_to '削除', goal_path(goal), method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>