<h1>新しい目標を追加</h1>

<%= form_with model: @goal, local: true do |form| %>
  <div>
    <%= form.label :title, "目標名" %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :status, "目標の状態" %>
    <%= form.select :status, ["未達成", "達成済み"] %>
  </div>
  <div>
    <%= form.submit "目標を追加する" %>
  </div>
<% end %>

<%= link_to 'ダッシュボードに戻る', dashboard_path %>
