<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "ユーザー登録 | 目標管理アプリ" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="アプリの概要">
    <meta name="keywords" content="キーワード1, キーワード2">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <!-- 共通ヘッダーのレンダリング -->
    <%= render 'shared/header' %>

    <!-- Flashメッセージの表示 -->
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <!-- メインコンテンツの表示 -->
    <%= yield %>

    <!-- 必要なスクリプトの追加 -->
    <%= yield :scripts %>
  </body>
</html>
